.app-wrapper { 
    display: grid;
    grid-template-areas:
    "header header header"
    "aside content content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    
}

.header {
    grid-area: header;
    width: 100%;
    background-color: aqua;
}
.header img {
    width: 100px;
}

.aside {
    grid-area: aside;
    height: 100px;
    background-color: brown;
}

.content {
    height: 100px;
    grid-area: content;
    background-color: yellow;
}