.task-wrapper {
    width: 80%;
    margin: 50px auto;
    border: 2px solid rgb(158, 197, 189);
    border-radius: 10px; 
    background-color: rgb(210, 240, 228);
}

.task-list {
    width: 80%;
    margin: 50px auto;
}
ul {
    width: 90%;
    list-style: none;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid bisque;
    border-radius: 10px; 
    background-color: floralwhite;
}

li {
    width: 94%;
    margin: 5px auto;
    padding: 10px;
    border: 2px solid rgb(174, 233, 225);
    border-radius: 10px; 
    background-color: rgb(199, 216, 223);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

label {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 5px;
    margin-top: 15px;

}
.item__heading {
    font-weight: bold;
}

.item__task {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.item__desc {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    width: 100px;
    height: 35px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 5px;
    transition: ease 0.5s;
}
.button__delete {
    margin-left: 10px;
    background-color: tomato;
    border-color: rgb(102, 29, 6);
}

.item__link{
    text-decoration: none;
    color: rgb(117, 117, 106);
}
.button__update {
    margin-left: 10px;
    background-color: rgb(224, 178, 60);
    border-color: rgb(122, 105, 3);
}

.button__code {
    width: 85px;
    height: 23px;
    padding-top: 8px;
    padding-left: 15px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    border: 2px solid black;
    color: black;
    border-radius: 5px;
    transition: ease 0.5s;
    display: inline-block;
    text-decoration: none;
    background-color: rgb(155, 148, 130);
    border-color: rgb(58, 57, 55);
}

.button__code:hover {
    color: beige;
    background-color: rgb(58, 57, 55);
    border-color: rgb(155, 148, 130);
}

.button__logout {
    background-color: rgb(164, 175, 236);
    border-color: rgb(47, 57, 116);
}


.button__logout:hover {
    color: beige;
    background-color: rgb(47, 57, 116);
    border-color: rgb(164, 175, 236);
}

.button__update:hover {
    color: beige;
    background-color: rgb(122, 105, 3);
    border-color: rgb(224, 178, 60);
}

.button__delete:hover {
    color: beige;
    background-color: rgb(102, 29, 6);
    border-color: tomato;
}


form {
    text-align: center;
    width: 80%;
    margin: 25px auto;
    padding: 20px;
    background-color: rgb(175, 218, 155);
    border: 2px dashed rgb(17, 66, 11);
    border-radius: 10px;
}

div {
    transition: ease 1s
}
.disable {
    display: none;
}
.visible {
    display: block;
}

#createUserTask {
    display: block;
    background-color: rgb(115, 171, 179);
    border: 2px dashed rgb(68, 77, 105);
}



.form__input{
    width: 80%;
    height: 40px;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

.form__button {
    height: 40px;
    width: 80%;
    margin: 20px 0;
    font-size: 16px;
    background-color: rgb(80, 187, 89);
    border-color: rgb(13, 87, 19);
}

.form__button:hover {
    background-color: rgb(13, 87, 19);
    border-color: rgb(80, 187, 89);
    color: beige;
}

.button__create {
    background-color: rgb(148, 187, 194);
    border-color: rgb(96, 121, 150);
}

.button__create:hover {
    background-color: rgb(96, 121, 150);
    border-color: rgb(148, 187, 194);
    color: beige;

}

.item__wrapper {
    width: 90%;
    margin: auto;
}

.button__wrapper {
    display: flex;
    justify-content: center;
}