
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --primary-color: #dc3445;
    --dark-color: #333333;
    --light-color: #f4f4f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

