<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/style.css">
    <title>Task List</title>
</head>

<body>

    <div class="task-wrapper">
        <h1>My tasks list</h1>
        <ul id="task-list" class="task-list task">
            <li class="item">
                <section class="item__wrapper">
                    <h3 class="item__task">Task text</h3>
                    <p class="item__desc">Task Description</p><br />
                </section>
                <section class="item__wrapper button__wrapper">
                    <a class="item__button button button__code" href="">view code</a>
                    <button class="item__button button button__update">update</button>
                    <button class="item__button button button__delete">delete</button>
                </section>
                <form calss="item__form form" action="#">
                    <input class="form__input" name="title" type="text" placeholder="text"><br />
                    <input class="form__input" name="description" type="text" placeholder="text"><br />
                    <button class="form__button" type="submit">update</button>
                </form>
            </li>
        </ul>
        <form id="createUserTask" calss="item__form form" action="#">
            <label for="createTaskTitle">Create New Task</label><br />
            <input id="createTaskTitle" class="form__input" type="text" name="title" placeholder="Title"><br />
            <label for="createTaskDisc">Description</label><br />
            <input id="createTaskDisc" class="form__input" type="text" name="description"
                placeholder="Description"><br />
            <label for="createTaskLink">Git Hub Link</label><br />
            <input id="createTaskLink" class="form__input" type="url" name="gitLink" placeholder="Git Hub Link"><br />
            <button class="form__button button__create" type="submit">create</button>
        </form>
    </div>
    <ul id="user-info" class="user-info item">
        <h1>Account info</h1>
    </ul>
    <ul id="other-users" class="other-user-info item">
        <h1>Other users</h1>
    </ul>
    <!--
    <ul class="task-list task">
        <h1>My tasks list</h1>
        <li class="item">
            <span class="item__task">Task text</span>
            <button class="item__button button button__update">update</button>
            <button class="item__button button button__delete">delete</button>
            <form calss="item__form form" action="#">
                <input class="form__input" type="text" placeholder="text"><br />
                <button class="form__button" type="submit">update</button>
            </form>
        </li>
    </ul>

    <ul class="user-info item">
        <h1>Account info</h1>
        <li class="item">
            <span class="item__heading">Username: </span><span class="item__value">allexname</span> <br />
            <span class="item__heading">Email: </span><span class="item__value">name@gmail.com</span> <br />
            <button class="item__button button button__logout">logout</button>
            <button class="item__button button button__update">update</button>
            <button class="item__button button button__delete">delete</button>
            <form calss="item__form form" action="#">
                <input class="form__input" type="text" placeholder="username"><br />
                <input class="form__input" type="text" placeholder="email"><br />
                <button class="form__button" type="submit">update</button>
            </form>
        </li>
    </ul>

    <ul class="other-user-info item">
        <h1>Other users</h1>
        <li class="item">
            <span class="item__heading">Username </span> <br />
            <span class="item__heading">Task count: </span><span class="item__value">55</span>
        </li>
    </ul>
    -->
    <script src="../dist/index.js"></script>
</body>

</html>