<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register Now</title>
    <link rel="stylesheet" href="styles/auth.css">
</head>

<body>
    <div class="auth-wrapp">
        <h1>register</h1>
        <form id="form-register" action="#">
            <input id="regUsername" class="form__input home-form" type="text" placeholder="username"><br />
            <input id="regEmail" class="form__input home-form" type="email" placeholder="email"><br />
            <input id="regPassword" class="form__input home-form" type="password" placeholder="password"><br />
            <button id="regSubmit" class="rigister__button" type="submit">register now</button>
        </form>
    </div>
    <script src="../dist/index.js"></script>
</body>

</html>