<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register Now</title>
    <link rel="stylesheet" href="styles/auth.css">
</head>

<body>
    <div class="auth-wrapp">
        <h1>register</h1>
        <form id="form-register" action="#">
            <label for="regUsername">Username</label><br />
            <input id="regUsername" class="form__input home-form" name="username" type="text"
                placeholder="username"><br />
            <label for="regEmail">Email</label><br />
            <input id="regEmail" class="form__input home-form" name="email" type="email" placeholder="email"><br />
            <label for="regPassword1">Password</label><br />
            <input id="regPassword1" class="form__input home-form" name="password1" type="password"
                placeholder="password" autocomplete="username email"><br />
            <label for="regPassword2">Password Again</label><br />
            <input id="regPassword2" class="form__input home-form" name="password2" type="password"
                placeholder="password again" autocomplete="username email"><br />
            <button id="regSubmit" class="rigister__button" type="submit">register now</button>
        </form>
    </div>
    <script src="../dist/index.js"></script>
</body>

</html>